#Web Framework 

fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9          # Required for file uploads in FastAPI

#Authentication 
python-jose[cryptography]==3.3.0  # JWT creation and verification
passlib[bcrypt]==1.7.4            # Password hashing with bcrypt
authlib==1.3.0                    # Google OAuth 2.0
httpx==0.27.0                     # Async HTTP client used by authlib

# LangChain Core 
langchain==0.2.5
langchain-core==0.2.9
langchain-community==0.2.5

# LLM Provider Integrations 
langchain-groq==0.1.6             # Groq chat models

#Vector Database 
chromadb==0.5.0                   # Local vector store, no server needed

# PDF Processing 
pdfplumber==0.11.1                # Extract text from PDF files

#Relational Database 
sqlalchemy==2.0.30                # ORM for PostgreSQL
psycopg2-binary==2.9.9            # PostgreSQL driver

# Caching 
redis==5.0.4                      # Redis client for summary caching

# Environment Variables 
python-dotenv==1.0.1

# Utilities 
pydantic==2.7.1                   # Data validation (used by FastAPI)
google-auth==2.29.0               # Google token verification helper
